<div class="col-xs-10 col-xs-offset-1 about">
    <h1>About Splurty</h1>
    <p>
        Splurty was built by <a target="_blank" href="https://github.com/erinmadisonanthony">Erin Anthony</a>, a junior web developer in Columbus, Ohio. She hopes that Splurty's inspirational quotes will give you motivation for your journey!
    </p>  
</div>

<div class="col-xs-12 col-sm-4">
<%= image_tag 'ErinPortrait.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Erin Anthony</h2>
    <br />
    <p>
        Erin is passionate about coding web applications, healthy living, serving her community, and encouraging others in the pursuit of excellence. Erin is currently a student with theFirehoseProject, where she is learning to code with Ruby.
    </p>  
    </div>

    <br class="clear" />
    <br />
    <br />
    <br />
    <br />  