@font-face {
    font-family: 'journalregular';
    src: url('/assets/journal-webfont.eot');
    src: url('/assets/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/journal-webfont.woff2') format('woff2'),
         url('/assets/journal-webfont.woff') format('woff'),
         url('/assets/journal-webfont.ttf') format('truetype'),
         url('/assets/journal-webfont.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}